$max-width-content: 1440px;
$color-menu-text: rgba(255, 255, 255, 0.5);
$color-header-button: #0063FF;
$color-main-title: #434343;
$color-bgc-main: #E5E5E5;

$color-football: #4CAF50;
$color-hockey: #275eb6;
$color-basketball: #CE5757;
$color-tennis: #7DB10D;
$color-cyber: #9160C2;

$color-footer: #27587B;
$color-footer-copy: #EBEDF3;